* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0a0a0a;
    color: #efeeea;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0a0a0a;
    position: fixed;
    max-height: 117px;
    width: 100%;
    padding: 10px 40px;
    z-index: 3;
}

.img-menu {
    max-width: 33px;
    max-height: 32px;
}

.panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-items: center;
    top: 70%;
    background-color: #1F1F1F;
    border-radius: 10px;
    left: 18px;
    height: 100px;
    width: 120px;
    padding: 8px;
    z-index: 2;
}

li {
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    margin-top: 5px;
}

a {
    text-decoration: none;
    color: #efeeea;
    font-family: 'Times New Roman', Times, serif;
}

details summary {
    list-style: none;
    cursor: pointer;
    z-index: 2;
}

.account {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: flex-end;
    gap: 25px;
    justify-content: center;
}


.img-account {
    max-width: 30px;
    max-height: 30px;
}

.logo {
    max-width: 245px;
    max-height: 90px;
}

main {
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
}

.img-collection {
    max-width: 167px;
    height: 70px;
}

.titre-collection {
    padding-left: 85px;
    display: flex;
    align-items: center;
    /* background-color: red; */
}

.card {
    background-color: #1F1F1F;
    max-width: 308px;
    height: 347px;
    border-radius: 20px;
    padding: 20px;
}

.cards {
    display: grid;
    gap: 50px;
    place-items: center;
    margin: 20px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
}

/* .test {
    background-color: yellow;
    width: 100%;
    height: 180px;
    border-radius: 10px;
    
} */

.img-produit {
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

.titre-produit {
    margin-top: 8px;
    font-size: 21px;
}

.description {
    color: #c4c4c4;
    margin-top: 8px;
    margin-bottom: 15px;
}

.price {
    display: flex;
    justify-self: flex-end;
}

/* mobile */
@media (max-width: 600px) {
    .cards {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }

    .card {
        max-width: 97%;
        max-height: 250px;
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .img-produit {
        place-self: center;
        width: 100%;
        height: 90%;
        max-width: 100%;
    }

    /* pour voir la place que vont prendre les images */
   /*  .test {
        width: 100%;
        height: 100%;
        max-height: 100%;
    } */

    .logo {
        max-width: 150px;
        max-height: 70px;
    }

    .account {
        gap: 12px;
    }

    .img-account {
        max-width: 25px;
        max-height: 25px;
    }

    .img-menu {
        max-width: 25px;
        max-height: 25px;
    }
}